.main-containar
  .header-containar
    = link_to "/", class: "header-containar__link" do
      = image_tag "material/logo/logo.png", class: "header-containar__link__logo-img", alt: "FURIMA logo"
  .item_contents
    = form_for @item do |f|
      .item_contents__box
        .item_image_box
          .item_image_box__form
            %a.label
              出品画像
            %span.require 
              必須
          .item_image_box__input            
            %p.text_item_bow 最大4枚までアップロードできます
            .post__drop__box__container
              .prev-content
              .label-content
                %label{for: "item_images_attributes_0_image", class: "abel-box", id: "label-box--0"}
                  %pre.label-box__text-visible クリックしてファイルをアップロード
              .hidden-content
                = f.fields_for :item_images do |i|
                  = i.file_field :image, class: "hidden-field"
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
                  -# %input#fileInput{accept: "image/*", name: "photo", onchange: "photoPreview(event)", type: "file", value: "ファイルを選択"}
              -#                %form{enctype:  "multipart/form-data", method: "post"}
                  -# #previewArea
              -# #dragDropArea
              -#   .drag-drop-inside
              -#     = icon('fas', 'camera', class: 'icon')
              -#     %p.drag-drop-info ドラッグアンドドロップ
              -#     %p.drag-drop-info またはクリックしてファイルをアップロード
              -#     %p.drag-drop-buttons
              -#     .drag-drop-inside__inner

              -# , id: "item_images_attributes_#{i.index}", data: {index: i.index}
        .item_name_box        
          .item_name_box__square    
            .text_form  
              %a.label
                商品名
              %span.require
                必須
            .item_name_box__square__input
              = f.text_field :name, class: "input-box_item_name", placeholder: "40文字まで"
          .item_explanation_square      
            .text_form
              %a.label
                商品の説明
              %span.require
                必須
            .item_explanation_square__input
              = f.text_area :introduction, class: "input-box_explanation", placeholder: "商品の説明(必須1,000文字以内)(色、素材、重さ、定価、注意点など)商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。 "
        .item_detail_box
          %p.text_item_bow
            商品の詳細
          .item_category_box_square  
            .text_form
              %a.label
                カテゴリー
              %span.require
                必須
            .item_category_box_square__input
              %select{name: "category"}
                %option{value: ""} 選択してください
                %option{value: "レディース"} レディース
                %option{value: "メンズ"} メンズ
                %option{value: "ベビー・キッズ"} ベビー・キッズ
                %option{value: "インテリア・住まい・小物"} インテリア・住まい・小物
                %option{value: "本・音楽・ゲーム"} 本・音楽・ゲーム
          .item_brand_box_square  
            .text_form  
              %a.label
                ブランド
              %span.require_brand
                任意
            .item_brand_box_square_input  
              %select{name: "brand"}
                %option{value: ""} 選択してください
                %option{value: "シャネル"} シャネル
                %option{value: "ヴィトン"} ヴィトン
                %option{value: "エルメス"} エルメス
          .item_size_box_square
            .text_form
              %a.label
                商品のサイズ
              %span.require
                必須
            .item_size_box_square_input
              .item_condition_box_square_input
                = f.select :condition, [["指定なし", "指定なし"], ["XL", "XL"],  ["L", "L"], ["M", "M"],["S", "S"]],  :prompt => "選択してください"
                -# = f.select :size, ['指定なし', 'XL','L', 'M', 'S', { include_blank: "選択してください"}]  
          .item_condition_box_square
            .text_form
              %a.label
                商品の状態
              %span.require
                必須
            .item_condition_box_square_input
              = f.select :condition, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"],  ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"],["傷や汚れあり", "傷や汚れあり"] ,["全体的に状態が悪い", "全体的に状態が悪い"]],  :prompt => "選択してください"
        .shipping_item_box
          %p.text_item_new
            発送について
          .item_shipping_origin_box_square
            .text_form
              %a.label
                発送元の地域
              %span.require
                必須
            .item_shipping_origin_box_square_input
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください", class: 'input'  
          .item_postage_payers_box_square
            .text_form
              %a.label
                配送料の負担
              %span.require
                必須
            .item_postage_payers_box_square__input
              = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, prompt: "選択してください", class: 'input'
            .item_preparation_days_box_square
              .text_form
                %a.label
                  発送まで日数
                %span.require
                  必須
              .item_preparation_days_box_square_input
                = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, prompt: "選択してください", class: 'input'
        .item_price-box
          %a.exhibition-item_price
            価格（¥300〜9,999,999）
          .price_form
            .price_form__left_box
              %a.label
                販売価格
              %span.require
                必須
            .price_form__right_box
              = f.number_field :price, class: "price_input"
        .item_exhibition_box
          .item_exhibition_box__input
            -# %form.new.exhibition
            .btn-box
              = f.submit '出品する', class: "submit-btn-red"
            .btn-box
              -# %input{type: "submit", value: "下書きに保存", class: "submit-btn-white"}
            .return-btn   
              = link_to "もどる", '#'         
  .footer-containar
    .footer-containar__info
      %p.footer-containar__info__text
        プライバシーポリシー
      %p.footer-containar__info__text
        フリマ用規約
      %p.footer-containar__info__text
        特定商取引に関する表記
    = link_to "/", clas: "footer-containar__link" do
      = image_tag "material/logo/logo-white.png", class: "footer-containar__link__logo-img", alt: "FURIMA logo-white"
    %p.footer-containar__inc
      © Furima, Inc.


.item_shipping_origin_box_square
  .text_form
    %a.label
      発送元の地域
    %span.require
      必須
  .item_shipping_origin_box_square_input
    = form_for @item do |f|
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください", class: 'input'
      = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, prompt: "選択してください", class: 'input'
      = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, prompt: "選択してください", class: 'input'
      = f.text_field :name, class: "input-box_item_name", placeholder: "40文字まで"
      = f.text_area :introduction, class: "input-box_explanation", placeholder: "商品の説明(必須1,000文字以内)(色、素材、重さ、定価、注意点など)商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。 "
      = f.select :condition, ['新品、未使用', '未使用に近い','目立った傷や汚れなし', 'やや傷や汚れあり', '傷や汚れあり', '全体的に状態が悪い', { include_blank: "選択してください"}]
      = f.select :size, ['指定なし', 'XL','L', 'M', 'S', { include_blank: "選択してください"}]  
      = f.text_field :price, class: "price_input"
      .post__drop__box__container
        .prev-content
        .label-content
          %label{for: "item_images_attributes_0_image", class: "abel-box", id: "label-box--0"}
            %pre.label-box__text-visible クリックしてファイルをアップロード
        .hidden-content
          = f.fields_for :item_images do |i|
            = i.file_field :image, class: "hidden-field"
            %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][1][image]", id: "item_images_attributes_1_image" }
            %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][2][image]", id: "item_images_attributes_2_image" }
            %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][3][image]", id: "item_images_attributes_3_image" }
            %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][4][image]", id: "item_images_attributes_4_image" }      
        .sell__block__form__btn
          %div
            = f.submit "出品する",class: "btn-default__btn-red"