<!DOCTYPE html>
<html>
  <head>
    <title>FurimaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <header>
        <%= render "shared/header"%>
      </header>
      <main>
        <%= yield %>
      <main>
      <aside id="app-banner">
        <%= render "shared/app-banner"%>
      </aside>
      <footer>
        <%= render "shared/app-banner"%>
      </footer>
    </div>
  </body>
</html>
